@keyframes change-font-size {
    from {font-size: 80px;}
    50% {font-size: 75px;}
    to {font-size: 80px}
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background: url(../../public/background.gif);
  background-size: cover;
  height: 100vh;
  min-width: 830px;
  min-height: 950px;
}

ol {
  list-style-type: square;
}

#title-header {
  animation-name: change-font-size;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 721.281px;
  height: 104px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 45px;
  background: #00000073;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#body-div {
  width: 700.281px;
}

#form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#input {
  width: 471px;
  height: 40px;
  background: #000000cc;
  border: 1px solid white;
  color: #c5c5c5;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
  padding: 0 6px;
}

#submit-button {
  width: 175px;
  height: 42px;
  background: #000000cc;
  border: 1px solid white;
  border-radius: 13px;
  color: #c5c5c5;
  font-size: 20px;
  cursor: pointer;
  transition: all .5s;
}

#submit-button:hover {
  background: white;
  color: black;
  transition: all .3s;
}

#result-div {
  width: 721.281px;
  height: 475px;
  color: white;
  font-size: 80px;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px 45px;
  background: #00000073;
  margin-top: 54.6px;
}

#result-title {
  display: flex;
  font-size: 45px;
  justify-content: center;
  margin-bottom: 0;
}

#site-list {
  display: flex;
  flex-direction: column;
  font-size: 55px;
  padding: 0 50px 50px 171px;
  margin-top: 20px;
  font-size: 41px;
  max-height: 278px;
  overflow-y: overlay;
}