body {
  font-family: 'Chakra Petch', sans-serif;
  background: url(../../public/background.gif);
  background-size: cover;
  height: 100vh;
  min-width: 830px;
  min-height: 400px;
}

#title-header {
  width: 721.281px;
  height: 104px;
  color: white;
  font-size: 80px;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px 45px;
  background: #00000073;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#body-div {
  width: 700.281px;
}

#form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#input {
  width: 471px;
  height: 40px;
  background: #000000cc;
  border: 1px solid white;
  color: #c5c5c5;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
  padding: 0 6px;
}

#submit-button {
  width: 175px;
  height: 42px;
  background: #000000cc;
  border: 1px solid white;
  border-radius: 13px;
  color: #c5c5c5;
  font-size: 20px;
  cursor: pointer;
}